<script setup>
import { ref } from "vue";
import TreeListItem from "./TreeListItem.vue";

const props = defineProps({
  items: {
    type: Array,
    required: true,
  },
});

const listItemRefs = ref([]);

defineExpose({
  expandAll: () => {
    listItemRefs.value.forEach((item) => {
      item.expand();
    });
  },
  collapseAll: () => {
    listItemRefs.value.forEach((item) => {
      item.collapse();
    });
  },
});
</script>

<template>
  <ul v-if="items.length" role="tree" class="list">
    <TreeListItem
      v-for="item in items"
      :key="item.id"
      ref="listItemRefs"
      :item="item"
    />
  </ul>
</template>

<style scoped>
.list {
  list-style: none;
}
</style>
