<script setup>
import { ref, defineProps } from "vue";
import TreeList from "./TreeList.vue";
import ChevronRight from "@/components/icons/ChevronRight.vue";
import ChevronDown from "@/components/icons/ChevronDown.vue";

const props = defineProps({
  item: {
    type: Object,
    required: true,
  },
});

const isExpanded = ref(true);

const toggleExpand = () => {
  isExpanded.value = !isExpanded.value;
};

const treeListRef = ref();

defineExpose({
  expand: () => {
    isExpanded.value = true;
    treeListRef.value?.expandAll();
  },
  collapse: () => {
    isExpanded.value = false;
    treeListRef.value?.collapseAll();
  },
});
</script>

<template>
  <li role="treeitem" class="">
    <button
      v-if="item.children.length"
      class="list-group-item"
      :aria-expanded="isExpanded"
      @click="toggleExpand"
    >
      <ChevronRight v-if="isExpanded" class="chevron" />
      <ChevronDown v-else class="chevron" />
      {{ item.name }}
    </button>
    <div v-else class="list-group-item">{{ item.name }}</div>

    <div v-if="item.children.length" class="list-group collapse" :class="{ show: isExpanded }">
      <TreeList
        ref="treeListRef"
        role="group"
        :aria-label="item.name"
        :items="item.children"
      />
    </div>
  </li>
</template>

<style scoped>
.list-group.collapse.show {
  display: block;
  margin: 0;
  box-shadow: none;
}

.list-group.collapse {
  display: none;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root .list-group-item:focus-visible {
  border-radius: 0;
  border: 1px solid black;
  z-index: 10;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 100px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

.chevron {
  width: 10px;
}
</style>
