<script setup>
import { ref, computed } from "vue";
import TreeList from "@/components/treeList/TreeList.vue";
import data from "@/data/items.json";

const listData = ref(data);

const generateTree = (items) => {
  const map = {};
  items.forEach((item) => (map[item.id] = { ...item, children: [] }));

  const roots = [];

  items.forEach((item) => {
    if (item.parent_id === 0) {
      roots.push(map[item.id]);
    } else {
      map[item.parent_id].children.push(map[item.id]);
    }
  });

  return roots;
};

const itemsTree = computed(() => generateTree(listData.value));

const treeListRef = ref();

const expandAll = () => {
  treeListRef.value?.expandAll();
};

const collapseAll = () => {
  treeListRef.value?.collapseAll();
};
</script>

<template>
  <div class="wrapper">
    <div class="list-control-btns">
      <button @click="expandAll">Expand all</button>
      <button @click="collapseAll">Collapse all</button>
    </div>

    <div class="list-group list-group-root">
      <TreeList ref="treeListRef" :items="itemsTree" />
    </div>
  </div>
</template>

<style scoped>
.wrapper {
  padding: 15px;
}

.list-control-btns {
  display: flex;
  gap: 10px;
  padding-left: 40px;
  padding-bottom: 15px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
  box-shadow: none;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}
</style>
